body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
}
.accordion {
  background-color: #5271ff;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  box-shadow: 3px 3px 3px #333;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  box-shadow: 3px 3px 3px #333;

  border: 1px solid;
  border-right-color: #5271ff;
  border-left-color: #5271ff;
  border-bottom-color: #5271ff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}