body{
    align-items: center;
    justify-content: center;
    display: grid;
    user-select: none;
}
.result{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
    background: gold;
    justify-content: center;
    /* align-items: center; */
}

.square {
	height: 190px;
	width: 190px;
	border: solid black 1px;
    margin: 1px;
}

.mole {
	background-image: url("mole.png");
	background-size: cover;
    cursor: pointer;
}

@media (max-width:616px) {
    .grid{
        height: 406px;
        width: 406px;
    }
    .square{
        height: 130px;
        width: 130px;
    }
}
@media (max-width:416px) {
    .grid{
        height: 306px;
        width: 306px;
    }
    .square{
        height: 90px;
        width: 90px;
    }
}
@media (max-width:340px) {
    .grid{
        height: 250px;
        width: 250px;
    }
    .square{
        height: 70px;
        width: 70px;
    }
    body{
        font-size: 12px;
    }
}
