@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    font-family: 'Nunito', sans-serif;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    padding: 15px 7%;
    padding-bottom: 80px;
    background: linear-gradient(#ccc 50%, #2980b9 50.1%);
}
.container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0;
}
.container .box-container .box{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    text-align: center;
    flex: 1 1 300px;
}
.container .box-container .box i{
    font-size: 100px;
    margin: 10px 0;
    color: #2980b9;
}
.container .box-container .box h3{
    font-size: 25px;
    color: #666;
}
.container .box-container .box .amount{
    font-weight: bolder;
    color: #2980b9;
    padding: 10px 0;
    font-size: 30px;
}
.container .box-container .box .amount .price{ 
    font-size: 60px;
}
.container .box-container .box ul li{
    list-style: none;
    padding: 5px 0;
    color: #666;
    font-size: 17px;
}
.container .box-container .box .btn{
    display: inline-block;
    margin: 15px 0;
    border-radius: 50px;
    background: #2980b9;
    color: #fff;
    font-size: 18px;
    padding: 9px 50px;
    transition: .2s ease;
}
.container .box-container .box .btn:hover{
    letter-spacing: 2px;
}
.container .price-toggler-container{
    margin: 10px auto;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
}
.container .price-toggler-container span{
    font-weight: bolder;
    color: #666;
    font-size: 20px;
}
.container .price-toggler-container .price-toggler{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background: #2980b9;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}
.container .price-toggler-container .price-toggler::before{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    content: '';
    transition: .2s ease-in-out;
    top: 5px;
    left: 7px;
}
.container .price-toggler-container .price-toggler.active::before{
    left: 103px;
}
@media (max-width:400px) {
    .container .price-toggler-container{
        padding: 10px;
        margin: 8px 0;
    }   
    .container .price-toggler-container span{
        font-size: 16px;
    }
    .container .price-toggler-container .price-toggler{
        height: 40px;
        width: 80px;        
        margin: 0 8px;
    }
    .container .price-toggler-container .price-toggler::before{
        height: 30px;
        width: 30px;
    }
    .container .price-toggler-container .price-toggler.active::before{
        left: 40px;
    }
}