body{
    background: #472C1B;
    user-select: none;
}
h1{
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 4em;
}
.charts{
    display: flex;
    max-width: 900px;
    justify-content: center;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.chart{
    position: relative;
    width: 25%;
    height: 260px;
}
.center-abs{
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.chart h3{
    color: #fff;
    font-size: 1.8em;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 10px #000;
}
.outer{
    fill: transparent;
    stroke: #D19C1D;
    stroke-width: 10;
    stroke-dasharray: 439;
    transform: rotate(270deg) translate(-150px, 0);
}
.text{
    z-index: 3;
    text-align: center;
    width: 100%;
    font-size: 3.8em;
    font-weight: 700;
    color: #D19C1D;
}
@media (max-width:750px) {
    .charts{
        flex-flow: column;
    }
}
@media (max-width:475px) {
    h1{
        font-size: 2.5em;
    }
}
@media (max-width:350px) {
    .charts .container{
        flex-flow: column;
        align-items: center;
    }
}